       /* Reset some default styles */
       * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    /* Header Styles */
    header {
        background-color: #66A7D8;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    .chat-button {
        cursor: pointer;
        font-size: 24px;
        margin-right: 20px;
        color: #fff;
    }

    .chat-button:hover {
        color: #00bcd4;
    }

    .chart-link {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
    }

    .chart-link:hover {
        color: #00bcd4;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container h1 {
        font-size: 24px;
    }

    .icon-container {
        display: flex;
        align-items: center;
    }

    .icon-container a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
        font-size: 20px;
    }

    .logout-link {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        margin-right: 20px;
        padding-left: 50px;
    }

    .logout-link:hover {
        color: #ff0000; /* Change the color on hover */
    }

.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
    color: #fff;
}

.navbar-expanded ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-expanded ul li {
    border-bottom: 1px solid #555;
}

.navbar-expanded ul li:last-child {
    border-bottom: none;
}

.navbar-expanded ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-expanded ul li a i {
    margin-right: 10px;
}

.navbar-expanded {
    position: fixed;
    top: 60px;
    right: -300px;
    width: 150px;
    height: calc(160px - 60px);
    background-color: #66A7D8;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 1000;
}
.navbar-icon {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.navbar-expanded.show {
    right: 0;
}

/* Hover styles */
.navbar-expanded ul li:hover {
    background-color: #555;
}

.navbar-expanded ul li a:hover {
    color: #fff;
}

.navbar-toggle {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    margin-right: 20px;
}

.navbar-toggle:hover {
    color: #00bcd4;
}